<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contact, class: 'label' %>

    <p class='control'>
      <%= form.collection_select(:contact, Contact.all, :id, :name, {}, id: 'e1', class: 'input') %>
    </p>
  </div>

  <div class="field">
    <%= form.label :netto, class: 'label' %>

    <p class='control'>
      <%= form.number_field :netto, class: 'input' %>
    </p>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'button is-success' %>
  </div>
<% end %>

<script>
    $(document).ready(function() { $("#e1").select2(); });
</script>
