<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :invoice_description %>
  </div>

  <select id="e1">
      <option value="AL">Alabama</option>
      <option value="WY">Wyoming</option>
  </select>

  <div class="actions">
    <%= form.submit 'Submit', class: 'button is-success' %>
  </div>
<% end %>

<script>
    $(document).ready(function() { $("#e1").select2(); });
</script>
