<div class="content">

<h1>Invoices</h1>
<table>
  <thead>
    <tr>
      <th>Factuurnummer</th>
      <th>tav</th>
      <th>Aanmaakdatum</th>
      <th>Acties</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.contact %></td>
        <td><%= invoice.created_at %></td>
        <td>
          <div class="field is-grouped">
            <p class="control">
              <%= link_to 'Bekijk', invoice_path(id: invoice.id, format: :pdf), target: :_blank, class: 'button is-primary' %>
            </p>
            <p class="control">
              <%= link_to 'Details', invoice, class: 'button is-warning' %>
            </p>
            <p class="control">
              <%= link_to 'Verwijder', invoice, method: :delete, data: { confirm: 'Ben je zeker dat je deze factuur wilt verwijderen?' }, class: 'button is-danger' %>
            </p>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nieuwe factuur', new_invoice_path, class: 'button is-primary' %>
</div>
