<div class="content">
  <h1>Bestendigen</h1>

  <table>
    <thead>
      <tr>
        <th>Naam</th>
        <th>Straat</th>
        <th>Stad</th>
        <th>Postcode</th>
        <th>Land</th>
        <th>Acties</th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.address.street %></td>
        <td><%= contact.address.city %></td>
        <td><%= contact.address.zip_code %></td>
        <td><%= contact.address.country %></td>
        <td>
          <div class="field is-grouped">
            <p class="control">
              <%= link_to 'Show', contact, class: 'button is-primary' %>
            </p>
            <p class="control">
              <%= link_to 'Edit', edit_contact_path(contact), class: 'button is-warning' %>
            </p>
            <p class="control">
              <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' %>
            </p>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Contact', new_contact_path %>

</div>
