<!DOCTYPE html>
<html>
  <head>
    <title>Factuur</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-danger is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Facturen
          </h1>
        </div>
      </div>
      <div class="hero-foot">
        <nav class="tabs is-boxed">
          <div class="container">
            <ul>
              <li class="is-active"><%= link_to 'Facturen', invoices_path %></li>
              <li><%= link_to 'Contactenlijst', contacts_path %></li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="notification is-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
